body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Microsoft YaHei';
    letter-spacing: .05em;
}
.clearfix:after{content:"";display:table;clear:both;overflow:hidden}
.clearfix{zoom:1;/* IE < 8 */}

/* content */
.content {
    width: 720px;
    border: 1px solid #CCC;
    margin: 80px auto 0;
    padding: 30px;
    background: #FFF;
}
.content h1 {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 30px;
    color: #3EAF0E;
}

/* 主要设置 */
#main {
    float:left;
    width:400px;
    font-size: 14px;
    padding: 20px 0;
}

#main .row h2 {
    font-size: 16px;
    margin: 0;
    color: #333;
    height: 25px;
    line-height: 25px;
}
#main .row p {
    text-indent:2em;
    height: 30px;
    line-height: 30px;
}
label {
    -webkit-user-select: none;
}
select {
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 2px;
}
select:focus {
    outline: none;
    border-color: #666;
}
select, input {
    margin-top: -1px;
    vertical-align: middle;
}

#intro {
    float:right;
    padding: 15px 50px 15px 79px;
    width:190px;
    border-left:1px solid #CCC;
}

#intro img {
    display: block;
    margin:0;
    padding:0;
}
#intro p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #3eaf0e;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
#feedback {
    margin:10px 0;
    text-align:center;
    font-size:13px;
    color:#333;
    letter-spacing: .04em;
}
#feedback a {
    text-decoration:none;
    color:#3eaf0e;
}
#feedback a:hover{
    text-decoration:underline;
}

.info {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 27px;
    line-height: 26px;
    border: 1px solid #7C7;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    text-align: center;
    font-size: 13px;
    color: #666;
    background: #BFB;
    cursor: default;
}