#uqrcode {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index:99999999;
}

#uqrcode .uqrcode-border {
    position: absolute;
    width: 230px;
    height: 260px;
    left: 50%;
    top: 50%;
    margin-left: -115px;
    margin-top: -130px;
    background: rgba(0, 0, 0, .5);
    border-radius:4px;
}
#uqrcode .uqrcode-content {
    width: 200px;
    height: 230px;
    padding: 10px;
    margin: 5px;
    background: #FFF;
    border-radius:2px;
}
#uqrcode .uqrcode-close {
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 0;
    right: -10px;
    top: -10px;
    margin: 0;
    background: #FFF;
    border:2px solid #FFF;
    border-radius: 100%;
    line-height: 28px;
    text-align:center;
    color: #333;
    font-size: 32px;
    font-family: 'Times New Roman' serif;
    cursor: pointer;
}
#uqrcode .uqrcode-border:hover .uqrcode-close {
    display: block;
}
#uqrcode .uqrcode-close:hover {
    color: #FFF;
    background:#FF4500;
}
#uqrcode p.uqrcode-text {
    height:30px;
    font-size: 13px;
    color: #333;
    line-height: 30px;
    margin: 0;
    text-align:center;
    overflow: hidden;
}
#uqrcode p.uqrcode-text .uqrcode-dots {
    font-family: 'YaHei Consolas Hybrid',Consolas,'Courier New',Courier,monospace;
}
#uqrcode p.uqrcode-text .error {
    color: red;
}
#uqrcode div.uqrcode-img {
    border: 0;
    padding: 0;
    width:200px;
    height:200px;
    margin: 0;
}
