#uqrcode {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index:99999999;
}

#uqrcode .uqrcode-border {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -120px;
    background: rgba(0, 0, 0, .5);
    border-radius:4px;
}
#uqrcode .uqrcode-content {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #FFF;
    border-radius:2px;
    overflow: hidden;
}
#uqrcode .uqrcode-content .uqrcode-qrcode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}
#uqrcode .uqrcode-content .uqrcode-qrcode img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
}
#uqrcode .uqrcode-content .uqrcode-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEE;
    -webkit-transition: all .3s;
}

#uqrcode .uqrcode-content:hover .uqrcode-text, #uqrcode .uqrcode-content.uqrcode-info .uqrcode-text {
    z-index: 3;
    top: 0;
}
#uqrcode .uqrcode-content .uqrcode-text p {
    color: #222;
    padding: 20px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    word-break: break-all;
}
#uqrcode .uqrcode-content .uqrcode-text p a {
    color: #36F;
}
#uqrcode .uqrcode-content .uqrcode-text p a:hover {
    color: #36F;
    text-decoration: underline;
}
